<html lang='vi'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Tài Khoản Tình Nguyện Viên VSDP</title>
  </head>
  <body
    style='
      font-family: Arial, sans-serif;
      color: #333;
      background-color: #f9f9f9;
      margin: 0;
      padding: 20px;
    '
  >
    <table
      style='
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        background-color: #fff;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      '
    >
      <tr>
        <td style='text-align: center; padding-bottom: 20px'>
          <h2 style='color: #36cce0'>
            Chào mừng bạn trở thành tình nguyện viên VSDP của VietHope!
          </h2>
        </td>
      </tr>
      <tr>
        <td>
          <p>Chào bạn <strong>{{userName}}</strong>,</p>
          <p>
            Chúng tôi rất vui mừng khi bạn tham gia hỗ trợ làm tình nguyện viên
            cho chương trình
            <strong>VietHope Student Development Program - VSDP</strong>!
          </p>
          <p>
            Tài khoản của bạn đã được cấp để truy cập vào Website. Dưới đây là
            thông tin tài khoản của bạn:
          </p>
          <ul>
            <li><strong>Email:</strong> {{userEmail}}</li>
            <li><strong>Vai trò:</strong> {{userRole}}</li>
            <li><strong>Mật khẩu:</strong> {{userPassword}}</li>
          </ul>
          <p>
            Để đăng nhập, vui lòng sử dụng các thông tin trên. Bạn có thể thay
            đổi mật khẩu bất kỳ lúc nào nếu cần. Nếu có bất kỳ câu hỏi nào hoặc
            cần hỗ trợ, đừng ngần ngại liên hệ với chúng tôi!
          </p>
          <p>
            Chúng tôi rất vui khi có bạn hỗ trợ và mong chờ cùng nhau làm việc.
          </p>
        </td>
      </tr>
      <tr>
        <td style='text-align: center; padding-top: 20px'>
          <p>Trân trọng,</p>
          <p>
            <strong>VietHope</strong><br />
            <a
              href='http://localhost:4000/'
              style='color: #36cce0; text-decoration: none'
            >Thăm website của chúng tôi</a>
          </p>
        </td>
      </tr>
    </table>
  </body>
</html>